* {
    padding: 2px;
    margin: 0;
}

body {
    font-family: "Tahoma", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-clip: border-box;
}

.weather {
    color: #ffffff;
}

.forecast {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
    text-align: center;
}

html[data-theme="day"] .weather,
.weather {
    background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb;
}

html[data-theme="night"] .weather {
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}

.current__weather__icon {

}

.current {
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.current__header {
    padding-bottom: 20px;
}

img {

}

.current img {
    width: 10%;
}

.other {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.humidity {
    padding: 0 50px;
}

.update {
    text-align: center;

    margin: 25px;
    display: block;
}

.update button {
    padding: 7px;
    background: antiquewhite;
    border-radius: 6px;
}
