* {
    padding: 2px;
    margin: 0;
}

body {
    font-family: "Tahoma", sans-serif;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    background-clip: border-box;
    align-items: center;
}

.weather {

    background: url("img/img.png") no-repeat center;
}

.forecast {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    text-align: center;
}

html[data-theme="day"] .weather{
    background:linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb no-repeat;
}

html[data-theme="night"] .weather {
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232 no-repeat;
}

.general {
    text-align: center;
    padding: 30px;
}

.current__header {
    padding-bottom: 20px;
}

button{
    color: #444444;
    background: antiquewhite;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: white;
}

.search {
    width: 80px;
    border-radius: 10px;
    height: 30px;
}

.general img {
    width: 10%;
}

.other {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.humidity {
    padding: 0 50px;
}

.update {
    text-align: center;
    margin: 25px;
    display: block;
}

.update button {
    padding: 10px 20px;
    border-radius: 18px;
}

button:hover {
    background: rgb(199, 199, 199);
}

input{
    border-radius: 7px;
    height: 25px;
    padding-left: 7px;
    border: 1px solid #fff;
    margin-right: 10px;
}

.forecast__item{
    padding: 0 20px;
}
