@import '~antd/dist/antd.css';

.App {
  display: flex;
  flex: 1;
}

.App__content {
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.App-header h1 {
  color: #2A2734;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

.App__content__animals-list {
  margin: 0 auto;
  text-align: center;
  background-color: #e6e6e6;
  width: 500px;
  border: 1px solid #e0dddd;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 1px #8d8d8d;
  padding: 20px 15px 30px;
}

.App__content__animals-list-item{
  padding: 16px 85px;
}

.ant-btn-primary {
  margin: 10px 0;
}
