<h1>Список животных</h1>
<div>
  <app-animals-list-item *ngFor="let animal of _animals | async; index as i; trackBy: trackByFn "
                         [animal]="animal"
                         [hidden]="false">
  </app-animals-list-item>
</div>
<div>
  <button class="main__button" *ngIf="_isKittensShow; else ref"
          (click)="hideKittens()">
    Скрыть котиков
  </button>
  <ng-template #ref>
    <button class="main__button"
            (click)="showKittens()">
      Показать котиков
    </button>
  </ng-template>

  <button class="main__button"
          (click)="createNewAnimals()">
    Добавить нового животного
  </button>
  <app-animals-form
    [(openForm)]="openForm"
    *ngIf="openForm"
    [animals]="[]"
    (newAnimalEvent)="updateAnimalsList($event)"
  ></app-animals-form>

</div>
