.main__details{
  font-family: Algerian, sans-serif;
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}

._hidden{
  display: none;
}

.main__decor{
  display: block;
  padding: 10px 20px;
  border-top: 5px solid white;
  font-size: 18px;
  font-family: "Courier New", sans-serif;
  font-weight: bold;
}

.main__decor:hover{
  cursor: pointer;
  background: linear-gradient(90deg, #ffc7a2 0%, #F69454 100%);
  color: #fff;
}
