<div [ngClass]="myClass">
  <h1>Список животных</h1>

  <ul>
    <li *ngFor="let animal of animals; let i=index" [style.display]="hide[i] ? 'none' : 'flex'"
        (click)="onClick(i)" [className]="decorText">
      {{animal.kindOfAnimal + ': ' + animal.animalName}} <br>
      {{animal.details}}
    </li>
  </ul>

  <div>
    <button *ngIf="!hideButton" [className]="classForButton" (click)="hideKittens()">Скрыть котиков</button>
    <button *ngIf="hideButton" [className]="classForButton" (click)="showKittens()">Показать котиков</button>
  </div>
</div>
